.defaultBtn {
  background-color: #db4444;
  color: white;
  padding: 8px 30px;
  border: none;
}
.notFound {
  padding-top: 7%;
  text-align: center;
}
.notFound h1 {
  font-size: 130px;
}
.notFound p {
  font-size: 50px;
}
.navbar-nav .nav-link.active {
  text-decoration: underline;
}
.btnDelete:hover span {
  color: #db4444 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  color: black !important;
  background-color: white !important;
}
/* Header Counter */
.basketContainer + div {
  padding-left: 10px;
  margin-left: 5px;
  border-left: 1px solid black;
}
/* Header Counter */
/* Home */
@media (max-width: 768px) {
  .catLinks {
    border: none !important;
  }
}

.categories-list li {
  font-size: 18px;
  font-family: "stroke";
  margin: 5px 0;
}

/* Home */

/* Cart Item */
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.loading-cart {
  margin-top: -100px;
}
/* Cart Item */

/* Products Slider  */
.slick-prev,
.slick-next {
  display: none !important;
}
.slick-dots {
  bottom: -60px !important;
}
/* Products Slider  */

/* Start Product Details */
img {
  max-width: 100%;
}
.slick-dots {
  position: static;
}
.slick-dots li {
  width: auto !important;
  height: auto !important;
  bottom: -10px !important;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.preview {
  margin-bottom: 90px;
}
@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 120px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked {
  color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}
.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  margin-right: 10px;
  background: #db4444;
  padding: 10px 20px;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.like.active {
  background: #ddd !important;
  color: #db4444 !important;
}
.add-to-cart:hover,
.like:hover {
  background: #b13737;
  color: #fff;
}
.like.active:hover {
  background: #eee;
  color: #b13737 !important;
}

.not-available {
  text-align: center;
  line-height: 2em;
}
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
/* End Product Details */
